<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Aniket/IdeaProjects/APIAutomationFramework5X">
        <classes><class name="thetestingacdamy.tests.crud.TC_CreateBooking">
            <methods><include name="testpositivePOSTreq"/>
            </methods></class><class name="thetestingacdamy.tests.crud.TC_CreateBooking">
            <methods><include name="testPositivePOSTReq"/></methods>
        </class>
        </classes>
    </test>
</suite>